@model PhạmQuangNhất_2210900115_Project2.Models.PHONG_CHIEU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PHONG_CHIEU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoGhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiPhong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
