@model PhạmQuangNhất_2210900115_Project2.Models.VE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoGhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaVe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaVe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACH_HANG.Ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACH_HANG.Ho_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUAT_CHIEU.MaSuatChieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUAT_CHIEU.MaSuatChieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaVe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
