@model IEnumerable<PhạmQuangNhất_2210900115_Project2.Models.PHIM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaoDien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaoDien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhim }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhim }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhim })
        </td>
    </tr>
}

</table>
